@import "tailwindcss";

@layer base {
  body {
    @apply font-sans bg-gray-950/90 text-gray-300;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-semibold transition-colors cursor-pointer;
  }
  
  .btn-primary {
    @apply bg-green-500 text-white hover:bg-green-600;
  }

  .link {
    @apply text-white font-medium hover:text-cyan-400;
  }

  .header-link {
    @apply hover:text-gray-50;
  }

  .promopanel {
    @apply bg-gray-600 rounded-md p-6;
  }
}
