<% if Current.user %>
<p class="text-3xl text-center">
  Welcome back, 
  <%=
    link_to (Current.user.first_name || Current.user.username),
    user_path(Current.user.username),
    class: "white font-semi-bold underline decoration-1 underline-offset-4"
  %>.
</p>
<% else %>
<section class="flex flex-col items-center gap-8">
  <div class="text-4xl/12 text-white font-bold font-serif">
    <p>Track movies you've watched.</p>
    <p>Save those you want to see.</p>
    <p>Tell your friends what's good.</p>
  </div>
  <a href="/register/new" class="btn btn-primary">Get started — it's free!</a>
  <p class="text-xl">
    The social network for movie lovers.
  </p>

  <div>
    <p class="text-xl mb-2">Betterboxd lets you...</p>
    <ul class="grid grid-cols-3 gap-4">
      <li class="promopanel">
        Keep track of every film you've ever watched (or just start from the day
        you join)
      </li>
      <li class="promopanel">
        Show some love for your favorite films, lists and reviews with a "like"
      </li>
      <li class="promopanel">
        Write and share reviews, and follow friends and other members to read theirs
      </li>
      <li class="promopanel">
        Rate each film on a five-star scale (with halves) to record and share your reaction
      </li>
      <li class="promopanel">
        Keep a diary of your film watching
      </li>
      <li class="promopanel">
        Compile and share lists of films on any topic and keep a watchlist of films to see
      </li>
    </ul>
  </div>
</section>

<section class="mt-12">
  <h1 class="section-heading">
    Popular reviews this week
  </h1>

  <ul class="space-y-4">
    <% @reviews.each do |review| %>
      <li>
        <%=
          render 'application/review_list_item',
            locals: {
              review: review,
              movie: review.movie,
              user: review.user
            }
        %>
      </li>
    <% end %>
  </ul>
</section>
<% end %>
